In [6]:
# Import shoes data
import pandas as pd

shoes_data = pd.read_csv("MEN_SHOES.csv")
# Display the first few rows of the dataset
shoes_data.head()

,Brand_Name,How_Many_Sold,Current_Price,Product_details,RATING
0,ASIAN,"2,242","₹1,098","Oxygen-01 Sports Running,Walking & Gym Shoes w...",3.8
1,ASIAN,240,₹674,"Men's Express-08 Sports Running,Walking,Gym,Tr...",4.0
2,ASIAN,"16,662",₹588,"Men's Cosko Sports Running,Walking,Gym,Trainin...",3.8
3,ASIAN,135,₹599,"Wind-03 Sports Running,Walking & Gym Shoes wit...",4.0
4,Reebok,240,₹982,Men's Velocity Runner Lp Running Shoe,4.0

In [ ]:
# Melihat informasi dataset sebelum pembersihan
print(f"Bentuk dataset: {shoes_data.shape}")
print(f"Kolom-kolom: {list(shoes_data.columns)}")
print("\nTipe data masing-masing kolom:")
print(shoes_data.dtypes)
print("\nContoh data di kolom Current_Price:")
print(shoes_data['Current_Price'].head())
print("\nContoh data di kolom How_Many_Sold:")
print(shoes_data['How_Many_Sold'].head())

=== INFORMASI DATASET SEBELUM PEMBERSIHAN ===
Bentuk dataset: (23940, 5)
Kolom-kolom: ['Brand_Name', 'How_Many_Sold', 'Current_Price', 'Product_details', 'RATING']

Tipe data masing-masing kolom:
Brand_Name          object
How_Many_Sold       object
Current_Price       object
Product_details     object
RATING             float64
dtype: object

Contoh data di kolom Current_Price:
0    ₹1,098
1      ₹674
2      ₹588
3      ₹599
4      ₹982
Name: Current_Price, dtype: object

Contoh data di kolom How_Many_Sold:
0     2,242
1       240
2    16,662
3       135
4       240
Name: How_Many_Sold, dtype: object

In [ ]:
# MEMBERSIHKAN DATA DARI KARAKTER ASING
print("=== PROSES PEMBERSIHAN DATA ===")

# Membuat copy dari data original
shoes_data_clean = shoes_data.copy()

# 1. Membersihkan kolom Current_Price (menghilangkan ₹ dan koma)
print("1. Membersihkan kolom Current_Price...")
print(f"   Sebelum: {shoes_data_clean['Current_Price'].iloc[0]}")

# Menghilangkan simbol ₹ dan koma, lalu convert ke numeric
shoes_data_clean['Current_Price'] = shoes_data_clean['Current_Price'].str.replace('₹', '', regex=False)
shoes_data_clean['Current_Price'] = shoes_data_clean['Current_Price'].str.replace(',', '', regex=False)
shoes_data_clean['Current_Price'] = pd.to_numeric(shoes_data_clean['Current_Price'], errors='coerce')

print(f"   Sesudah: {shoes_data_clean['Current_Price'].iloc[0]}")

# 2. Membersihkan kolom How_Many_Sold (menghilangkan koma)
print("\n2. Membersihkan kolom How_Many_Sold...")
print(f"   Sebelum: {shoes_data_clean['How_Many_Sold'].iloc[0]}")

# Menghilangkan koma lalu convert ke numeric
shoes_data_clean['How_Many_Sold'] = shoes_data_clean['How_Many_Sold'].astype(str).str.replace(',', '', regex=False)
shoes_data_clean['How_Many_Sold'] = pd.to_numeric(shoes_data_clean['How_Many_Sold'], errors='coerce')

print(f"   Sesudah: {shoes_data_clean['How_Many_Sold'].iloc[0]}")

print("\n✅ Pembersihan data selesai!")

In [ ]:
# VERIFIKASI HASIL PEMBERSIHAN
print("=== VERIFIKASI HASIL PEMBERSIHAN ===")

# Menampilkan tipe data setelah pembersihan
print("Tipe data setelah pembersihan:")
print(shoes_data_clean.dtypes)

# Menampilkan 5 baris pertama setelah pembersihan
print("\n5 baris pertama setelah pembersihan:")
print(shoes_data_clean.head())

# Cek apakah ada missing values setelah pembersihan
print("\nMissing values setelah pembersihan:")
print(shoes_data_clean.isnull().sum())

# Statistik deskriptif untuk kolom numerik
print("\nStatistik deskriptif untuk kolom numerik:")
print(shoes_data_clean[['Current_Price', 'How_Many_Sold', 'RATING']].describe())

In [ ]:
# MENAMPILKAN SEMUA DATA YANG SUDAH BERSIH
print("=== DATASET LENGKAP YANG SUDAH DIBERSIHKAN ===")
print(f"Total data: {len(shoes_data_clean)} baris")
print("=" * 80)

# Menampilkan semua data
for i, row in shoes_data_clean.iterrows():
    print(f"Baris {i+1}:")
    print(f"  Brand: {row['Brand_Name']}")
    print(f"  Terjual: {row['How_Many_Sold']:,} unit")
    print(f"  Harga: ₹{row['Current_Price']:,.0f}")
    print(f"  Rating: {row['RATING']}")
    print(f"  Detail: {row['Product_details'][:50]}...")
    print("-" * 50)

print(f"\n✅ Semua {len(shoes_data_clean)} data telah ditampilkan dan sudah bersih dari karakter asing!")